.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation:none;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 150s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
